[Unit]
Description=VPN Monitoring Webpage
After=network.target wg-quick@wg0.service
Requires=wg-quick@wg0.service

[Service]
User=vpn_monitor
Group=vpn_monitor
WorkingDirectory=/opt/vpn_monitor
Environment="PATH=/opt/vpn_monitor/venv/bin:/usr/sbin:/usr/bin:/bin"
ExecStart=/opt/vpn_monitor/venv/bin/gunicorn --workers 3 --bind unix:/opt/vpn_monitor/vpn_monitor.sock app:app

[Install]
WantedBy=multi-user.target