Source: vpn_monitor
Binary: vpn_monitor
Section: utils
Priority: optional
Maintainer: Elijah Stuenkel eli.stuenkel@gmail.com
Homepage: github.com/stuenkels


Standards-Version: 4.5.0
Package: vpn-monitor
Architecture: all
Description: Monitors wireguard VPN traffic
