Source: vpn-monitor
Section: utils
Priority: optional
Maintainer: Elijah Stuenkel eli.stuenkel@gmail.com
Homepage: github.com/stuenkels
Build-Depends: build-essential, debhelper (>= 9)


Package: vpn-monitor
Architecture: any
Description: Monitors wireguard VPN traffic
