#!/usr/bin/make -f

%:
	dh $@ --with python3 --with systemd  --with sysuser

execute_after_dh_install:
	if [ -e debian/vpn-monitor/etc/nginx/sites-available/vpn_monitor.conf ] && \
	   [ ! -e debian/vpn-monitor/etc/nginx/sites-enabled/vpn_monitor.conf ]; then \
	    mkdir -p debian/vpn-monitor/etc/nginx/sites-enabled; \
	    ln -s ../sites-available/vpn_monitor.conf debian/vpn-monitor/etc/nginx/sites-enabled/vpn_monitor.conf; \
	fi