<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Link scripts, chart.js stored locally for offline access -->
    <script src="{{ url_for('static', filename='chart.js') }}"></script>
    <script src="{{ url_for('static', filename='stats.js') }}"></script>
    <!-- Stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
    <title>Circlerock VPN2 Monitoring</title>

</head>
<body>
    <div class="container">
        <center><h2>Circlerock VPN2 Monitoring</h2></center>
        <canvas id="cpu_chart"></canvas>
        <p>Memory Usage: <span id="mem">Loading...</span></p>
        <p>WireGuard Interface: <span id="iface">Loading...</span></p>
        <p>RX Bytes: <span id="rx">Loading...</span></p>
        <p>TX Bytes: <span id="tx">Loading...</span></p>
    </div>
</body>
</html>